<div class="jumbotron">
    <h1>Welcome to la Pizzeria del Grande Papà Josh!</h1>

    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }
    </style>

    <div class="row">
        <div class="column">
            <img src="pizza_man.jpg" alt="Papa Josh" style="width:100%">
        </div>
        <div class="column">
            <img src="italian_flag.jpg" alt="Italian Flag" style="width:100%">
        </div>
        <div class="column">
            <img src="happy_pizza.jpg" alt="Happy Pizza" style="width:100%">
        </div>
    </div>
