<div class="jumbotron">
    <h1>Leave Feedback!</h1>
    <h4>Your comments are critical to our success. Leave feedback for $5 off your next purchase!</h4>
    <form action="/action_page.php">
        <div class="row">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
        </div>
        <div class="row">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
        </div>
        <div class="row">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Your email address.." required>
        </div>
        <div class="row">
            <label for="subject">Subject</label>
            <textarea id="subject" name="Comments" placeholder="Write something.." style="height:20px"
                required></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

</body>

</html>