<div class="jumbotron">
    <h1>Preview our pizzas!</h1>
</div>

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
</style>

<h2>Made Fresh Daily!</h2>

<h3>Pictured from left to right:</h3>
<h4>Four Cheese</h4>
<h4>Mama's Meatlovers</h4>
<h4>Papa's Famous Pep</h4>

<div class="row">
    <div class="column">
        <img src="cheese.jpg" alt="Four Cheese" style="width:100%">
    </div>
    <div class="column">
        <img src="meatlovers.jpg" alt="Mama's Meatlovers" style="width:100%">
    </div>
    <div class="column">
        <img src="pepperoni.jpg" alt="Papa's Famous Pep" style="width:100%">
    </div>
</div>