<div class="jumbotron">
    <h1>Check out our Variety of Toppings!</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <table>
            <tr>
                <th>Topping</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Pepperoni</td>
                <td>$1</td>
            </tr>
            <tr>
                <td>Veggies</td>
                <td>$1</td>
            </tr>
            <tr>
                <td>Chicken</td>
                <td>$2</td>
            </tr>
            <tr>
                <td>Bacon</td>
                <td>$2</td>
            </tr>

            <tr>
                <td>Double Cheese</td>
                <td>$3</td>
            </tr>
        </table>